@page "/articulo/agregar"
@page "/articulo/editar/{Id:int}"
@inject ArticuloServicio articuloServicio
@inject NavigationManager NavigationManager



<h3>@Titulo</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="@art" OnValidSubmit="Grabar">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label for="Descripcion">Descripcion</label>
                <InputText class="form-control" @bind-Value="art.Descripcion"/> 
                <ValidationMessage For="@(()=>art.Descripcion)"/>
            </div>
            <div class="form-group">
                <label for="FechaAlta">FechaAlta</label>
                <input type="date" class="form-control" @bind="art.FechaAlta" />
                <ValidationMessage For="@(()=>art.FechaAlta)" />
            </div>
            <div class="form-group">
                <label for="Cantidad">Cantidad</label>
                <InputNumber typeclass="form-control" @bind-Value="art.Cantidad"/>
                <ValidationMessage For="@(()=>art.Cantidad)"/>
            </div>
             <div class="form-group">
                <label for="Precio">Precio</label>
                <InputNumber typeclass="form-control" @bind-Value="art.Precio"/>
                <ValidationMessage For="@(()=>art.Precio)"/>
            </div>
            <div class="form-group">
                <label for="UdeMedida">UdeMedida</label>
                <select id="udemedida" @bind="art.UdeMedida">
                @foreach (var um in UdeMedidaDisponibles)
                {
                  <option value="@um">@um</option>
                }
                </select>
                <ValidationMessage For="@(()=>art.UdeMedida)"/>
            </div>
            <div>
                @mensaje
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Grabar"/>
                    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar"/>
                </div>
            </div>
        </div>
    </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int Id {get; set;}
    Articulo art = new Articulo();

    private string mensaje = string.Empty;
    private string Titulo="Agregar Articulo";
    private List<string> UdeMedidaDisponibles = new List<string> { "Metro", "Litro", "Kilo", "Pieza", "Caja" };

    protected void Grabar() {
        if(articuloServicio.AgregarActualizar(art)) {
            mensaje = "Agregado exitosamente ";
        } else mensaje = "No pudo agregarse";
        NavigationManager.NavigateTo("articulos",forceLoad:true);
    }

    void Cancel() {
        NavigationManager.NavigateTo("articulos",forceLoad:true);
    }
    
    protected override void OnInitialized() {
        if (Id > 0) {
        Titulo = "Actualizar Articulo";
        art = articuloServicio.EcontrarPorId(Id); }
        base.OnInitialized();
        }
}
