@* Pages/HabitacionAgregarEditar.razor *@
@page "/habitacion/agregar"
@page "/habitacion/editar/{Id:int}"
@inject HabitacionServicio habitacionServicio
@inject NavigationManager NavigationManager

<h3>@Titulo</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="@cur" OnValidSubmit="Grabar">
            <DataAnnotationsValidator/>
               <div class="form-group">
                    <label for="NoHab">NoHab</label>
                    <InputNumber typeclass="form-control" @bind-Value="cur.NoHab"/>
                    <ValidationMessage For="@(()=>cur.NoHab)"/>
                </div>
                <div class="form-group">
                    <label for="Tipo">Tipo</label>
                    <select id="Tipo" @bind="cur.Tipo">
                    @foreach (var ti in TiposDisponibles)
                    {
                        <option value="@ti">@ti</option>
                    }
                    </select>
                    <ValidationMessage For="@(()=>cur.Tipo)"/>
                </div>
                <div class="form-group">
                    <label for="Piso">Piso</label>
                    <InputNumber typeclass="form-control" @bind-Value="cur.Piso"/>
                    <ValidationMessage For="@(()=>cur.Piso)"/>
                </div>
                <div class="form-group">
                    <label for="Costo">Costo</label>
                    <InputNumber typeclass="form-control" @bind-Value="cur.Costo"/>
                    <ValidationMessage For="@(()=>cur.Costo)"/>
                </div>
                
                <div>
                @mensaje
                </div>
                 <div class="my-2">
                    <input type="submit" class="btn btn-primary" value="Grabar"/>
                    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar"/>
                 </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int Id {get; set;}
    
    Habitacion cur = new Habitacion();
    private string mensaje = string.Empty;
    private string Titulo="Agregar Curso";
    private bool deshabilitar = false;
    private List<string> TiposDisponibles = new List<string> { "Individual", "Doble", "Triple" };
    
    protected void Grabar() {
        if(habitacionServicio.AgregarActualizar(cur)) {
            mensaje = "Agregado exitosamente ";
        } else mensaje = "No pudo agregarse";
            NavigationManager.NavigateTo("cursos",forceLoad:true);
    }
    void Cancel() {
        NavigationManager.NavigateTo("cursos",forceLoad:true);
    }
    protected override void OnInitialized() {
        if (Id > 0) {
            Titulo = "Actualizar Curso";
            cur = habitacionServicio.EcontrarPorId(Id);
            deshabilitar = true;
        }
        base.OnInitialized();
    }
}