@* Pages/ClienteAgregarEditar.razor *@
@page "/cliente/agregar"
@page "/cliente/editar/{Id:int}"
@inject ClienteServicio clienteServicio
@inject NavigationManager NavigationManager

<h3>@Titulo</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="@est" OnValidSubmit="Grabar">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label for="Name">Nombre</label>
                   <InputText class="form-control" @bind-Value="est.Nombre"/>
                   <ValidationMessage For="@(()=>est.Nombre)"/>
                </div>
                <div class="form-group">
                    <label for="Name">Apellido</label>
                    <InputText class="form-control" @bind-Value="est.Apellido"/>
                    <ValidationMessage For="@(()=>est.Apellido)"/>
                </div>
                <div class="form-group">
                    <label for="Genero">Genero</label>
                    <select id="Genero" @bind="est.Genero">
                    @foreach (var ge in GenerosDisponibles)
                    {
                        <option value="@ge">@ge</option>
                    }
                    </select>
                    <ValidationMessage For="@(()=>est.Genero)"/>
                </div>
                <div class="form-group">
                    <label for="FechaCumple">FechaCumple</label>
                    <InputDate class="form-control" @bind-Value="est.FechaCumple"/>
                    <ValidationMessage For="@(()=>est.FechaCumple)"/>
                </div>
                <div class="form-group">
                    <label for="Correo">Correo</label>
                    <InputText class="form-control" @bind-Value="est.Correo"/>
                    <ValidationMessage For="@(()=>est.Correo)"/>
                </div>
                <div class="form-group">
                    <label for="Telefono">Telefono</label>
                    <InputText class="form-control" @bind-Value="est.Telefono"/>
                    <ValidationMessage For="@(()=>est.Telefono)"/>
                </div>
                <div class="form-group">
                    <label for="Edad">Edad</label>
                    <InputNumber typeclass="form-control" @bind-Value="est.Edad"/>
                    <ValidationMessage For="@(()=>est.Edad)"/>
                </div>
                <div>
                @mensaje
            </div>
            <div class="my-2">
                <input type="submit" class="btn btn-primary" value="Grabar"/>
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar"/>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int Id {get; set;}
    
    Cliente est = new Cliente();
    private string mensaje = string.Empty;
    private string Titulo="Agregar Cliente";
    private List<string> GenerosDisponibles = new List<string> { "Mujer", "Hombre" };
    
    protected void Grabar() {
        if(clienteServicio.AgregarActualizar(est)) {
            mensaje = "Agregado exitosamente ";
        } else mensaje = "No pudo agregarse";
            NavigationManager.NavigateTo("clientes",forceLoad:true);
    }
    void Cancel() {
        NavigationManager.NavigateTo("clientes",forceLoad:true);
    }
    protected override void OnInitialized() {
        if (Id > 0) {
            Titulo = "Actualizar Cliente";
            est = clienteServicio.EcontrarPorId(Id);
        }
    }
}